.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h2 {
  font-weight: 800;
  font-size: 80px;
}
.banner img {
  width: 616px;
  height: 744px;
}
.banner-text {
  width: 616px;
  height: 744px;
  padding-top: 150px;
}
.btn {
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
}
span {
  color: #7e90fe;
}
.banner-text p {
  font-weight: 500;
  font-size: 18px;
  color: #757575;
}
